:8080
root /srv/www

log stdout
errors stderr

fastcgi / 127.0.0.1:9000 php

rewrite  {
  regexp /.*
  ext /
  {{- $to_path := print "/" (getenv "MYWEBSQL_EXTERNAL_PATH") "/index.php?{query}" }}
  to {{ $to_path | path.Clean }}
}